# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.dill
*.cache.dill
*.track.dill

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Backend node_modules
backend/node_modules/

# Local config
backend/config.env
*.local.properties
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

# Chrome device data
app_user/.dart_tool/chrome-device/
